
//COLORS
$black: #000000;
$white: #ffffff;
$yellow: #FADE4B;
$gray: rgba(255, 255, 255, 0.2);
$light-gray:#99938A;
$very-light-gray:#EFEFEF;


// Fonts sizes
$font-8:8px;
$font-10:10px;
$font-12:12px;
$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-24:24px;
$font-26:26px;
$font-28:28px;
$font-30:30px;
$font-32:32px;
$font-36:36px;
$font-46:46px;
$font-48:48px;
$font-80:80px;

//FONT-WEIGHT
$font-w-100:100;
$font-w-300:300;
$font-w-400:400;
$font-w-500:500;
$font-w-700:700;
$font-w-900:900;

//FONT FAMILY
$font-family:'Roboto', sans-serif;

//PADDING
$p-0:0;
$p-0-5r:.5rem;
$p-1r:1rem;
$p-1-5r:1.5rem;
$p-2r:2rem;
$p-3r:3rem;
$p-4r:4rem;
$p-5r:5rem;
$p-6r:6rem;
$p-7r:7rem;

$p-2:2px;
$p-4:4px;
$p-6:6px;
$p-8:8px;
$p-10:10px;

//MARGIN
$m-0:0;
$m-0-5:.5rem;
$m-1:1rem;
$m1-5:1.5rem;
$m-2:2rem;
$m-3:3rem;
$m-4:4rem;
$m-5:5rem;
$m-6:6rem;
